@page "/campground/{Id}"

@using Campers.Services.Interfaces
@using System.Collections.Generic 

@inject ICampgroundService CampgroundService  
@inject ICommentService CommentService 

<div class="campground-page">
    <div class="campground-page-back">
        <NavLink href="/">Back</NavLink>
    </div>
    <div class="campground-page-info">
        <Card>
            <!-- <div class="campground-page-image" style="background-image:url(@campground.Image)"></div> -->
            <img src="@campground.Image">
            <div class="campground-page-info-description">
                <h5>@campground.Title</h5>
                <p>@campground.Description</p>
            </div>
        </Card> 
    </div>

    <div class="campground-page-comments">
        <Card>
            <h5>Comments</h5>
            <CommentList Comments="@comments" />    
        </Card>
    </div>
</div>

@code 
{
    [Parameter]
    public string Id { get; set; }

    public Campers.Models.Campground campground { get; set; } = new Campers.Models.Campground();

    public List<Campers.Models.Comment> comments { get; set; } = new List<Campers.Models.Comment>();

    protected async override Task OnInitializedAsync()
    {
        var campgroundId = int.Parse(Id);
        campground = await CampgroundService.GetById(campgroundId);
        comments = await CommentService.GetComments(campgroundId);
        StateHasChanged();
    }
}